# Web Application
flask
waitress
gunicorn

# Data Processing
pandas
numpy==2.2.3
scikit-learn==1.6.1
joblib==1.4.2
scipy
lightgbm
ijson

# Utilities
schedule
PyYAML

# Visualization
matplotlib
seaborn
