pandas
numpy # Explicitly add numpy
scikit-learn
PyYAML  # For handling YAML config files
joblib # For saving/loading scikit-learn objects
# Add other dependencies like spacy if needed later
lightgbm # For gradient boosting model
ijson # For streaming large JSON files
